<nav class="navbar">
  <input type="checkbox" id="check" />
  <label for="check" class="menue-icon"><i class="fa-solid fa-bars"></i></label>
  <ul class="ul-nav">
    <li class="nav-list">
      <a href="#" class="collapsible__link">about me</a>
    </li>
    <li class="nav-list">
      <a href="#" class="collapsible__link">portfolio</a>
    </li>
    <li><a href="#" class="collapsible__link">cooperation</a></li>
  </ul>
  <img class="logo" src="images/h-logo.webp" alt="" />
  <div class="button background-grey">contact me</div>
</nav>
